body{
  font-family: sans-serif;
  background-color:aqua;
}
h1 {
  font-style: italic;
  text-align: center;
  font-display: fallback;
}
p{
  align-content: space-around;
}
img{
  align: center;
  max-height: 400px;

}
.index{
  text-align:center;

}
.gall{
  text-align: center;
  text-decoration-color: purple;
}
.trav{
  text-align: center;
}
.active{
  text-align:center;
}
